@model Loginpage.Models.Student

<h2>Student ID Card</h2>

<div style="border:1px solid black;width:250px;padding:10px">

    <b>College:</b> Lovely Professional University <br><br>

    <b>Student Name:</b> @Model.Name <br><br>

    <b>Student ID:</b> @Model.Id

</div>